.center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 50%;
}

.error-input {
    --border-color: red;
    --border-width: 1px;
    --border-radius: 20px;
  }
  